<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.StudentDao">
    <!-- 搜索 -->
    <select id="search" resultType="map">
        select *
        from ${tableName}
        <if test=" 'name' == type">
            where name like CONCAT(CONCAT('%', #{content}),'%')
        </if>
        <if test="'uuid' == type">
            where uuid like CONCAT(CONCAT('%', #{content}),'%')
        </if>
    </select>

    <!-- 查询 -->
    <select id="query" resultType="map">
        select *
        from ${tablesName};
    </select>

    <!-- 新增人员 -->
    <insert id="insertPeople" parameterType="com.example.demo.model.People">
        insert into DT_people( uuid, org_name, org_present, name, sex, nation, birthday, card, nativtion, address
                             , telephone, workplace, type, sqrd_time, jjfz_time, fzdx_time, rd_time)
        values (#{uuid}, #{org_name}, #{org_present}, #{name}, #{sex}, #{nation}, #{birthday}, #{card}, #{nativtion},
                #{address}, #{telephone}, #{workplace}, #{type},
                #{sqrd_time}, #{jjfz_time}, #{fzdx_time}, #{rd_time});
    </insert>

    <!-- 新增活动 -->
    <insert id="insertActivity" parameterType="com.example.demo.model.Activity">
        insert into DT_activity(uuid, name, startTime, endTime, member)
        values (#{uuid}, #{name}, #{startTime}, #{endTime}, #{member});
    </insert>

    <!-- 删除 -->
    <delete id="delete" parameterType="integer">
        delete
        from ${tableName}
        where uuid = #{uuid};
    </delete>

    <!-- 单个查询 -->
    <select id="stuQuery" resultType="map">
        select *
        from ${tableName}
        where name = #{name}
           or uuid = #{name};
    </select>

    <!-- 修改人员信息 -->
    <update id="updatePeople" parameterType="com.example.demo.model.Activity">
        update
            DT_people
        SET org_name    = #{org_name},
            org_present = #{org_present},
            name        = #{name},
            sex         = #{sex},
            nation      = #{nation},
            birthday    = #{birthday},
            card        = #{card},
            nativtion   = #{nativtion},
            address     = #{address},
            telephone   = #{telephone},
            workplace   = #{workplace},
            type        = #{type},
            sqrd_time   = #{sqrd_time},
            jjfz_time   = #{jjfz_time},
            fzdx_time   = #{fzdx_time},
            rd_time     = #{rd_time}
        WHERE uuid = #{uuid};
    </update>

    <!-- 修改活动信息 -->
    <update id="updateActivity" parameterType="com.example.demo.model.Activity">
        update
            DT_activity
        SET name      = #{name},
            startTime = #{startTime},
            endTime   = #{endTime},
            member    = #{member}
        WHERE uuid = #{uuid};
    </update>

    <!-- 查询各部分人员占比 -->
    <select id="queryPercent" resultType="map">
        select count(*)                                              total,
               count(case when type = '入党积极分子' then 1 else null end) aCount,
               count(case when type = '发展对象' then 1 else null end)   bCount,
               count(case when type = '预备党员' then 1 else null end)   cCount,
               count(case when type = '党员' then 1 else null end)     dCount
        from DT_people
    </select>

    <!--添加活动人员-->
    <insert id="insertMember">
        insert into DT_member(sno,activityName)
        values (#{sno},#{activityName});
    </insert>
</mapper>
