<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.Dao.StudentDao">
    <!-- 查询 -->
    <select id="query" resultType="map">
        select *
        from ${TableName};
    </select>

    <!-- 新增活动 -->
    <insert id="insertActivity" parameterType="com.example.demo.Model.Activity">
        insert into DT_activity(a_id, a_name, startTime, endTime, number)
        values (#{a_id}, #{a_name}, #{startTime}, #{endTime}, #{number});
    </insert>


    <select id="Stuquery" resultType="com.example.demo.Model.Student">
        select *
        from t_student
        where sno = #{Ssno};
    </select>
    <delete id="delete" parameterType="com.example.demo.Model.Student">
        delete
        from t_student
        where sno = #{sno};
    </delete>
    <update id="update" parameterType="com.example.demo.Model.Student">
        update
            t_student
        SET sname = #{sname},
            sage  = #{sage}
        WHERE sno = #{sno};
    </update>
</mapper>
