<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.StudentDao">
    <!-- 查询 -->
    <select id="query" resultType="map">
        select *
        from ${tablesName};
    </select>

    <!-- 新增人员 -->
    <insert id="insertPeople" parameterType="com.example.demo.model.People">
        insert into DT_people( uuid, org_name, org_present, name, sex, nation, birthday, card, nativtion, address
                             , telephone, workplace, type, sqrd_time, jjfz_time, fzdx_time, rd_time)
        values (#{uuid}, #{org_name}, #{org_present}, #{name}, #{sex}, #{nation}, #{birthday}, #{card}, #{nativtion},
                #{address}, #{telephone}, #{workplace}, #{type},
                #{sqrd_time}, #{jjfz_time}, #{fzdx_time}, #{rd_time});
    </insert>

    <!-- 新增活动 -->
    <insert id="insertActivity" parameterType="com.example.demo.model.Activity">
        insert into DT_activity(uuid, name, startTime, endTime, number)
        values (#{uuid}, #{name}, #{startTime}, #{endTime}, #{number});
    </insert>

    <!-- 删除 -->
    <delete id="delete" parameterType="integer">
        delete
        from ${tableName}
        where uuid = #{uuid};
    </delete>

    <!-- 单个查询 -->
    <select id="stuQuery" resultType="map">
        select *
        from ${tableName}
        where name = #{name}
           or uuid = #{name};
    </select>

    <!--修改人员信息-->
    <update id="updatePeople" parameterType="com.example.demo.model.Activity">
        update
            DT_people
        SET uuid        = #{uuid},
            org_name    = #{org_name},
            org_present = #{org_present},
            name        = #{name},
            sex         = #{sex},
            nation      = #{nation},
            birthday    = #{birthday},
            card        = #{card},
            nativtion   = #{nativtion},
            address     = #{address},
            telephone   = #{telephone},
            workplace   = #{workplace},
            type        = #{type},
            sqrd_time   = #{sqrd_time},
            jjfz_time   = #{jjfz_time},
            fzdx_time   = #{fzdx_time},
            rd_time     = #{rd_time}
        WHERE uuid = #{uuid};
    </update>

    <!--修改活动信息-->
    <update id="updateActivity" parameterType="com.example.demo.model.Activity">
        update
            DT_activity
        SET name      = #{name},
            startTime = #{startTime},
            endTime   = #{endTime},
            number    = #{number}
        WHERE uuid = #{uuid};
    </update>
</mapper>
